* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html 
{
    scroll-behavior: smooth;
}
#navbar
{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
    position: fixed;
    background-color: grey;
    width: 100%;
    height: 50px;
}
a
{
    text-decoration: none;
    color: inherit;
}

#navbar a
{
    font-size: large;
    margin-left: 15px;
    text-decoration: none;
    color: white;
}
#welcome-section 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
    color: white;
    font-size: 48px;
    
}
img 
{
    width: 300px;
}
#projects 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: grey;
    padding-bottom: 20px;

}
#projects-head
{
    text-align: center;
    padding: 15px 0 0 10px;
    position: relative;
    color: white;
    background-color: grey;

}
.project-tile
{
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(3, 18, 37);
    color: white;
    border-radius: 5%;
    overflow: hidden;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: black;
    color: white;
}
#contact div
{
    font-size: 20px;
    padding: 5px 5px;
    border: 2px solid white;
    margin-left: 15px;
    border-radius: 5px;
    transition: 0.5s;
}
#contact div:hover
{
    background-color: white;
    color: black;
    transform: scale(1.1);
}